Scientific Programming - Exercise 1

Özge Atik - 20180808075

# 1 Basics

Exercise 1.1: The Interpreter

In [1]:
3+1

4

In [2]:
3*3

9

In [3]:
2 ** 3

8

In [5]:
"Hello, world!"

'Hello, world!'

Exercise 1.2: Scripts

When I copy and run the script nothing happens. Then I add printf to every line and I get the same results as above.

Exercise 1.3: More interpreter

In [6]:
'py' + 'thon'

'python'

Since both are string, they are added together as they are.

In [7]:
'py' * 3 + 'thon'

'pypypython'

Multiplies the 'py' string with 3 and adds it to the second part.

In [8]:
'py' - 'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Gives an error since extraction is not supported for strings

In [10]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In python in order to merge two values, they need to be same type

In [11]:
3 * '3'

'333'

3 is string, multiplied by 3 it will be printed three times.

In [12]:
a

NameError: name 'a' is not defined

a does not have a value so python will give error.

In [13]:
a=3
a

3

Now a has a value so it will be printed without error.

Exercise 1.4: Booleans

In [14]:
1 == 1
1 == True

True

1 is equal to 1 so it will be true. 1 also equals boolean true so there will be no error.

In [16]:
0 == True

False

In [17]:
0 == False

True

Unlike 1, 0 equals boolean false.

In [20]:
3 == 1 * 3
(3 == 1) * 3

0

3 == 1 will reutrn false and when multiplying it with 3 will be like 0*3 which equals to zero

In [21]:
(3 == 3) * 4 + 3 == 1

False

3 == 3 will return true hence 1. 1*4+3 will be 7 and 7==1 will return false

In [22]:
3**5 >= 4**4

False

since 243 is smaller than 256 statement will return false.

Exercise 1.5: Integers

In [24]:
5 / 3

1.6666666666666667

In [25]:
5 % 3

2

In [26]:
5.0 / 3

1.6666666666666667

In [27]:
5 / 3.0

1.6666666666666667

In [28]:
5.2 % 3

2.2

In [29]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

Returns mathematically correct answers.

Exercise 1.6: Floats

In [30]:
2000.3 ** 200

OverflowError: (34, 'Result too large')

Even though the number is smaller than 2001**200, decimal part is too large hence that is why we have an overflow error.

In [31]:
1.0 + 1.0 - 1.0

1.0

In [32]:
1.0 + 1.0e20 - 1.0e20

0.0

1.0e20 has 20 digits after point, when a number added it gets lost.

Exercise 1.7: Variables

In [34]:
name = "Ozge"
print("Hello, " + name + "!")

Hello, Ozge!

Exercise 1.8: Type Casting

In [38]:
float(123)
float('123')
float('123.23')

123.23

First two will return 123.0 because that is float equivalent of 123. And the last string will just be directly turn into the number 123.23

In [42]:
int(123.23)
int('123.23')
int(float('123.23'))

ValueError: invalid literal for int() with base 10: '123.23'

Second line - int('123.23') - will give an error because for the number 123.23 to convert into int, it needs to not have letters or special characters.

In [44]:
str(12)
str(12.2)

'12.2'

In [48]:
bool('a')
bool(0)
bool(0.1)

True

As long as the value in paranthesis is not empty string, empty or 0 boolean will return true.

----------------------------------------------------------------------------

# 2 Control Flow

Exercise 2.1: Range

In [49]:
range(5)

range(0, 5)

for i in range(5) will loop 0-5, 5 is not included.

In [51]:
type(range(5))

range

Exercise 2.2: For Loops

Printing numbers 1-100

In [ ]:
for i in range(100):
    print(i)

Printing the numbers 0 to 100 that are divisible by 7

In [ ]:
for i in range(100):
    if(i%7==0):
        print(i)

In [ ]:
Printing the numbers 1 to 100 that are divisible by 5 but not by 3

In [ ]:
for i in range(100):
    if(i%5==0 and i%3!=0):
        print(i)

Printing for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence,
for 18, it should print 2 3 6 9.

In [67]:
for i in range(2,21):
    print("for i: " +str(i) + " >>", end =" ")
    for j in range(i):
        if(j>1 and i%j==0):
            print(j, end=" ")
    print("")

for i: 2 >>
for i: 3 >>
for i: 4 >> 2
for i: 5 >>
for i: 6 >> 2 3
for i: 7 >>
for i: 8 >> 2 4
for i: 9 >> 3
for i: 10 >> 2 5
for i: 11 >>
for i: 12 >> 2 3 4 6
for i: 13 >>
for i: 14 >> 2 7
for i: 15 >> 3 5
for i: 16 >> 2 4 8
for i: 17 >>
for i: 18 >> 2 3 6 9
for i: 19 >>
for i: 20 >> 2 4 5 10

Exercise 2.3: Simple while loops

Printing the numbers 0 to 100 using while loop

In [68]:
i = 0
while(i < 100):
    print(i, end=" ")
    i = i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

Printing the numbers 0 to 100 that are divisible by 7 using while loop

In [69]:
i = 0
while(i < 100):
    if(i%7==0):
        print(i, end=" ")
    i = i+1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

Exercise 2.5: While loops

Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them

In [71]:
found = 0
x = 1
while(found < 20):
    if(x%5==0 and x%7==0 and x%11==0):
        print(x, end=" ")
        found=found+1
    x=x+1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

Exercise 2.6: More while loops
Find the smallest number that is divisible by all integers between 1 and 10.

In [80]:
divisible = False
number = 10

while(divisible == False):
    number=number+1
    divisible=True
    for i in range(2,10):
        if(number%i!=0):
            divisible=False
    
print(number)

2520

Exercise 2.7: Collatz sequence

In [5]:
number_x = 103
while(number_x!=1):
    if(number_x%2==0):
        number_x=number_x/2
    else:
        number_x=3*number_x+1
    print(number_x,end=" ")

310 155.0 466.0 233.0 700.0 350.0 175.0 526.0 263.0 790.0 395.0 1186.0 593.0 1780.0 890.0 445.0 1336.0 668.0 334.0 167.0 502.0 251.0 754.0 377.0 1132.0 566.0 283.0 850.0 425.0 1276.0 638.0 319.0 958.0 479.0 1438.0 719.0 2158.0 1079.0 3238.0 1619.0 4858.0 2429.0 7288.0 3644.0 1822.0 911.0 2734.0 1367.0 4102.0 2051.0 6154.0 3077.0 9232.0 4616.0 2308.0 1154.0 577.0 1732.0 866.0 433.0 1300.0 650.0 325.0 976.0 488.0 244.0 122.0 61.0 184.0 92.0 46.0 23.0 70.0 35.0 106.0 53.0 160.0 80.0 40.0 20.0 10.0 5.0 16.0 8.0 4.0 2.0 1.0

--------------------------------------------------------------------------------------

# 3 Functions

Exercise 3.1: Hello

a) Function hello_world that prints ’Hello, world!’

In [6]:
def hello_world():
    print("Hello, world!")
hello_world()

Hello, world!

b) Function hello_name(name) that prints ’Hello, name!’ where name is a string

In [8]:
def hello_name(name):
    print("Hello, " + name + "!")
hello_name("ozge")

Hello, ozge!

c) Explain the difference between the print and return keywords

Difference between print and return is that print only shows the user what the value is, but return gives back a value computer can use later.

Exercise 3.2: Polynomial

Write a function that evaluates the polynomial 3x^2- x + 2

In [9]:
def polynomial(x):
    return 3*(x**2)-x+2
polynomial(1)

4

Exercise 3.3: Maximum
Function my_max(x,y) that returns the maximum of x and y

a) Use both if and else.

In [10]:
def my_max(x,y):
    if(x>y):
        return x
    else:
        return y
my_max(5,7)

7

b) Use if but not else

In [11]:
def my_max(x,y):
    if(x>y):
        return x
    return y
my_max(5,7)

7

Exercise 3.4: Primes

a) Write a function is_prime(n) that returns True only if n is prime

In [22]:
def prime_number(x):
    is_prime=True
    if(x > 1):
        for i in range(2,x):
            if(x%i==0):
                is_prime=False
    return is_prime

b) Note that apart from 2 and 3, all primes are of the form 6k ± 1. Using this, we can improve the computation time by a factor 3.
Update your function to use this.

In [35]:
def prime_number(x):
    is_prime=True
    if(x > 3):
        if(x%6==1 or x%6==5):
            is_prime=True
        else:
            is_prime=False
    return is_prime

c) Write a function that returns all primes up to n.

In [1]:
# Function to check if a number is prime.
def prime_number(x):
    is_prime=True
    if(x > 1):
        for i in range(2,x):
            if(x%i==0):
                is_prime=False
    return is_prime
# Function that returns all primes up to n.
def all_primes(n):
    for i in range(2,n):
        if(prime_number(i)):
            print(i, end=" ")

all_primes(37)

2 3 5 7 11 13 17 19 23 29 31

d) Write a function that returns the first n primes.

In [4]:
# Function to check if a number is prime.
def prime_number(x):
    is_prime=True
    if(x > 1):
        for i in range(2,x):
            if(x%i==0):
                is_prime=False
    return is_prime

# Function that returns the first n primes.
def primes_upto(n):
    num=2
    while(n>0):
        if(prime_number(num)):
            print(num, end=" ")
            n=n-1
        num=num+1

primes_upto(15)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

Exercise 3.5: Root finding

Suppose f is a continuous function and f(a) < 0 and f(b) > 0 for some known a and b. For simplicity,
assume a < b. Then, there must exist some c such that f(c) = 0

Write a function root(f, a, b) that takes a function f and two floats a and b and returns the
root c.

In [3]:
def func(f):
    return f**2+f-6
def cont_function(a,b):
    c=(a+b)/2
    if(func(c)==0):
        return True
    else:
        return False
    
cont_function(2,2)

True